#Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**
- List popular languages for Data Science.
- Introduce commonly used libraries in Data Science.
- Create a table of Data Science tools.
- Demonstrate basic arithmetic operations in Python.
- Convert minutes to hours using Python.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Matplotlib

| Data Science Tools |
|--------------------|
|  Jupyter notebook  |
|       Rstudio      |
|       Power Bi     |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [36]:
#This a simple arithmetic expression to mutiply then add integers
result = (3*4)+5
print (result)

17

In [38]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes/60
print (hours)

3.3333333333333335

## Autor

Amitai Colli